{% extends 'base.html.twig' %}

{% block title %}
    Notation
{% endblock %}

{% block body %}

    <!--- Header --->
    <section class="hero is-light is-half-mobile">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Notes
                </h1>
            </div>
        </div>
    </section>

    <div class="is-size-1">&nbsp;</div>

    <!--- Body --->
    <div class="container">

        <button class="button is-link is-outlined mb-3" data-target="ajout-note">
            <span class="icon is-small"><i class="fas fa-plus"></i></span>
            <span>Ajouter note</span>
        </button>

        <div class="columns is-multiline">

            {% for c in comp %}
                <!-- donnée de chaque compétition qui sont passées en paramètres au modèle "card..twig -->
                {% include 'default/card.html.twig' with {
                    'title': c.title,
                    'start': c.note,
                    'end': c.compet
                } %}
            {% endfor %}

        </div>
    </div>

    <!--- Modal --->

    <div class="modal" id="ajout-note">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal Title</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label"><span class="icon"><i class="fas fa-user"></i></span>Compétiteur</label>
                    <div class="control has-icons-left">
                        <div class="select">
                            <select>
                                {% if note is empty %}
                                    <option>Pas de compétiteurs à noter</option>
                                {% else %}
                                    {% for n in note %}
                                        <option>{{ n.title }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                    </div>
                </div>
                <div class="field">
                    <label class="label"><span class="icon"><i class="fas fa-calculator"></i></span>Note</label>
                    <div class="control has-icons-left">
                        <input class="input" type="number" step="0.25" placeholder="Entrez la note désirée">
                        <span class="icon is-small is-left"><i class="fas fa-calculator"></i></span>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-outlined is-link">
                    <span class="icon is-small"><i class="fas fa-plus"></i></span>
                    <span>Ajouter note</span>
                </button>
            </footer>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        let button = document.querySelector('.button[data-target="ajout-note"]');
        let modal = document.querySelector('#ajout-note');

        button.addEventListener('click', function() {
            modal.classList.add('is-active');
        });

        modal.querySelector('.delete').addEventListener('click', function() {
            modal.classList.remove('is-active');
        });
    </script>

{% endblock %}