<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <!-- Logo du menu -->
        <a class="navbar-item">
            <img src="{{ asset('assets/img/logo.png') }}" alt="Logo">
        </a>

        <!-- Burger du menu -->
        <div class="navbar-burger" data-target="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="menu" class="navbar-menu" style="font-size: 17px">
        <!-- Partie située à gauche -->
        <div class="navbar-start">
            <a href="#" class="navbar-item">Accueil</a>
            <!-- Un élément dit dropdown -->
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">Pages</a>
                <!-- Les éléments présents dans le dropdown -->
                <div class="navbar-dropdown is-boxed" style="font-size: 15px">
                    <a href="#" class="navbar-item">Planning</a>
                    <a href="#" class="navbar-item">Notes</a>
                </div>
            </div>
            <a href="#" class="navbar-item">Contact</a>
        </div>

        <!--- Partie utilisateur connecté --->

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{{ path('logout') }}">
                        <strong>Se Déconnecter</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>