{% extends 'base.html.twig' %}
{#{% block title %} Accueil {% endblock %}#}
{#{% block formulaire %}#}

{#    <h2>coucou</h2>#}
{#    <canvas id="myChart"></canvas>#}

{#<script>#}
{#        const DATA_COUNT = 7;#}
{#        const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};#}

{#        const labels = Chart.Utils.months({count: 7});#}
{#        const data = {#}
{#        labels: labels,#}
{#        datasets: [#}
{#    {#}
{#        label: 'Nb user daily',#}
{#        data: Chart.Utils.numbers(NUMBER_CFG),#}
{#        borderColor: Chart.Utils.CHART_COLORS.red,#}
{#        backgroundColor: Chart.Utils.transparentize(Chart.Utils.CHART_COLORS.red, 0.5),#}
{#        borderWidth: 2,#}
{#        borderRadius: Number.MAX_VALUE,#}
{#        borderSkipped: false,#}
{#    },#}
{#    {#}
{#        label: 'Nb user now',#}
{#        data: Chart.Utils.numbers(NUMBER_CFG),#}
{#        borderColor: Chart.Utils.CHART_COLORS.blue,#}
{#        backgroundColor: Chart.Utils.transparentize(Chart.Utils.CHART_COLORS.blue, 0.5),#}
{#        borderWidth: 2,#}
{#        borderRadius: 5,#}
{#        borderSkipped: false,#}
{#    }#}
{#        ]#}
{#    };#}

{#        const config = {#}
{#        type: 'bar',#}
{#        data: data,#}
{#        options: {#}
{#        responsive: true,#}
{#        plugins: {#}
{#        legend: {#}
{#        position: 'top',#}
{#    },#}
{#        title: {#}
{#        display: true,#}
{#        text: 'Chart.js Bar Chart'#}
{#    }#}
{#    }#}
{#    },#}
{#    };#}

{#        var myChart = new Chart(#}
{#        document.getElementById('myChart'),#}
{#        config#}
{#        );#}
{#</script>#}
{#{% endblock %}#}

{#{% block javascripts %}#}
{#  #}
{#{% endblock %}#}