{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block body %}



    <section class="section">
        <div class="content">
            <div class="columns is-centered">
            <h3> Bienvenue sur le site EQUITREC </h3>
            </div>
        </div>

    </section>

    <figure class="highcharts-figure">
        <div id="chart_div"></div>
        <div id="container"></div>


    </figure>
{% block stylesheets %}
    <style>

    .highcharts-figure,
    .highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
    }

    .highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
    }

    .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 15px;
    color: #555;
    }

    .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
    padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
    background: #f1f7ff;
    }

    </style>

    {% endblock %}

    {% block javascripts %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script>
            function drawChart() {
                fetch('http://localhost/EQUITREC/public/chart-data')
                    .then((response) => response.json())
                    .then((data) => {
                        // Préparez les données pour Highcharts
                        const chartData = data.map((row) => ({
                            name: row.nom_competition,
                            y: parseFloat(row.average_notes),
                        }));

                        // Créez le graphique avec Highcharts
                        Highcharts.chart('chart_div', {
                            chart: {
                                type: 'column',
                            },
                            title: {
                                text: 'Moyenne des notes par compétition',
                            },
                            xAxis: {
                                type: 'category',
                                title: {
                                    text: '',
                                },
                            },
                            yAxis: {
                                title: {
                                    text: 'Moyenne des notes',
                                },
                            },
                            tooltip:
                                {
                                    pointFormat: '{series.name}: <b>{point.y:.2f}</b>'
                                },
                            series: [
                                {
                                    name: 'Moyenne',
                                    data: chartData,
                                },
                            ],
                        });
                    });
            }


            function connexion() {
                document.addEventListener('DOMContentLoaded', function () {
                    const chart = Highcharts.chart('container', {
                        chart: { type: 'line' },
                        title: { text: 'Nombre de personnes connectés' },
                        xAxis: { type: 'datetime', title: { text: 'Date' }},
                        yAxis: { title: { text: 'Nombre de connectés' }},
                        series: [{ name: 'Nombre de personnes connectés', data: [] }]
                    });

                    // Récupérer les données via l'API
                    fetch('http://localhost/EQUITREC/public/api/connexionJournee')
                        .then(response => response.json())
                        .then(data => {
                            const seriesData = data.map(item => {
                                const date = new Date(item.date_connexion).getTime();
                                return [date, parseInt(item.id_juge)];
                            });

                            // Triez les données par date si nécessaire
                            seriesData.sort((a, b) => a[0] - b[0]);

                            chart.series[0].setData(seriesData);
                        });
                });
            }

            drawChart();
            connexion();




        </script>
        {% endblock %}
{% endblock %}
